<mat-sidenav-container>
  <mat-sidenav mode="side" opened>
    <button mat-button [routerLink]="['/emi']">EMI</button>
    <button mat-button [routerLink]="['/fd']">FD</button>
    <button mat-button [routerLink]="['/erd']">ERD</button>
    <button mat-button [routerLink]="['/gold']">Gold</button>
    <button mat-button [routerLink]="['/bills']">Bills</button>
    <button mat-button>Insurance</button>
  </mat-sidenav>

  <mat-sidenav-content>
    <h1>{{ title }}</h1>
    <p>Welcome to the application!</p>
  </mat-sidenav-content>
</mat-sidenav-container>
