<mat-sidenav-container>
    <mat-sidenav mode="side" opened>
        <button mat-button [routerLink]="['/emi']">EMI</button>
        <button mat-button>FD</button>
        <button mat-button>ERD</button>
        <button mat-button>Gold</button>
        <button mat-button>Shares</button>
        <button mat-button>Bills</button>
    </mat-sidenav>
        
    <mat-sidenav-content>
        <h1>{{ title }}</h1>
        <p>Welcome to the application!</p>
    </mat-sidenav-content>
</mat-sidenav-container>
